@import url("https://fonts.googleapis.com/css2?family=Anton&family=Iosevka+Charon+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Iosevka+Charon+Mono:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-Title1: "Anton", sans-serif;
  --font-Text1: "Roboto", sans-serif;
  --font-Enlaces: "Roboto", sans-serif;

  --color-primary: #07b2ff;
  --color-secondary: #07e1ff;
  --color-accent: #5efff8;
  --color-light: #ddfdf5;
  --color-cream: #fffbf4;
}
